.promises pre {
  -moz-tab-size: 2;
  tab-size: 2;
}

.promises pre code {
  max-height: 425px;
}

.promises h1,
.promises h2,
.promises h3 {
  color: #ff5722;
  font-variant-caps: small-caps;
  text-transform: none;
}

.promises h1 + p,
.promises h2 + p,
.promises h3 + p {
  color: #666;
  font-style: italic;
  font-size: smaller;
}

.promises .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.promises .row > * {
  max-height: 20vw;
}
